<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/IntelliJ Idea WorkSpace/SeleniumProject">
        <classes>
            <class name="org.test.BrowserLaunch">
                <methods>
                    <include name="launchurl"/>
                    <include name="searchanygoogle"/>
                </methods>
            </class>
            <class name="org.test.Sample">
                <methods>
                    <include name="logintest"/>
                    <include name="loginFailed"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>